    .image {
            width   :   150px;
            height  :   150px;
            display:inline-block;
            vertical-align:middle;
           }
    h1 {
        margin-right    :   170px;
        margin-left     :   170px;
        text-align      :   center;
        display:inline-block;
        vertical-align:middle;
    }
    nav {
        width   :   150px;
        border: 2px solid #8c014c;
        background-color: #8c014c;
        color: white;
        float: left;
    }
    li {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    a {
        color: chocolate;
    }
    p {
        margin-left: 170px;
    }
    table {
        margin-left: 170px;
        border: 1px solid black;
    }
    table1 {
        margin-left: 170px;
        border: 1px solid black;
        display:inline-block;
        vertical-align:initial;
    }
    table2 {
        display:inline-block;
        vertical-align:initial;
    }
    td {
        border: 1px solid black;
    }
   td2 {
       color: red;
   }